header {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
}

header nav {
  width: 800px;
  height: 80px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  width: 200px;
  font-size: 20px;
  padding: 0 30px;
  border: 1px solid red;
}

header nav ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a p {
  color: crimson;
  font-weight: bold;
}

header nav ul li a span {
  color: aqua;
}

header nav ul li:hover {
  background-color: #100545;
}

header nav ul li::before {
  content: "hello";
  display: block;
  width: 100px;
  background-color: tomato;
}

header nav ul li::after {
  content: "hello";
  display: block;
  width: 100px;
  background-color: tomato;
}
